:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Playfair Display', serif;
    --primary-color: #c9fdd7;
    --secondary-color: #6892d5;
    --border-color: #f8fcfb;
}

.navbar {
    background-color: var(--border-color);
    font-family: var(--primary-font);
}

.nav-link {
    color: var(--secondary-color);
}

.hero {
    background: var(--primary-color);
    line-height: 1.25;
    padding: 130px 20px;
    text-align: center;
}

.greeting {
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 600;
}

.name {
    font-family: var(--secondary-font);
    font-size: 70px;
    font-weight: 800;
}

.role {
    font-family: var(--primary-font);
    font-size: 18px;
    margin: 10px auto;
    opacity: 0.8;
}

.contact-button {
    margin-top: 35px;
}

.contact-button a {
    background: var(--secondary-color);
    color: white;
    font-family: var(--primary-font);
    font-size: 13px;
    padding: 15px 20px;
    text-decoration: none;
}

.intro {
    font-family: var(--primary-font);
    font-size: 21px;
    opacity: 0.8;
    text-align: center;
}

.app-img {
    background-color: var(--border-color);
    border-radius: 4px;
    max-height: 340px;
    padding: 10px;
}

.app-name {
    font-family: var(--secondary-font);
    font-size: 26px;
    margin-bottom: 10px;
}

.app-description {
    font-family: var(--primary-font);
    margin-bottom: 10px;
}

.app-button a, .projects-button a {
    background: var(--secondary-color);
    color: white;
    font-family: var(--primary-font);
    font-size: 13px;
    padding: 15px 20px;
    text-decoration: none;
}

.about-me {
    margin: 50px;
}

.about-me-section {
    background: var(--primary-color);
    border-radius: 4px;
    padding: 100px 30px;
}

.title {
    font-family: var(--secondary-font);
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
}

.description {
    font-family: var(--primary-font);
    font-size: 15px;
    margin-bottom: 15px;
}

.projects-button {
    text-align: center;
}

.about-img {
    background-color: var(--border-color);
    border-radius: 4px;
    height: 100%;
    padding: 10px;
    width: 100%;
}

.contact-title {
    font-family: var(--secondary-font);
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contact-section {
    background: var(--primary-color);
    border-radius: 15px;
    margin: 0 auto;
    max-width: 500px;
    padding: 50px 0px;
}
.contact {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    padding: 10px;
}

.contact a {
    color: var(--secondary-color);
    text-decoration: none;
}

.contact a:visited {
    color:var(--secondary-color)
}

footer .contact {
    flex-direction: row;
    justify-content: center;
}

footer .email-link {
    color: #6892d5;
    font-family: var(--primary-font);
    text-decoration: none;
}

footer a:hover, footer .contact:hover {
    color: black;
}

@media (max-width: 576px) {
    .greeting {font-size: 20px;}
    .name {font-size: 40px;}
    .role {font-size: 16px;}
    .app-name {text-align: center}
    .app-description {text-align: center}
    .app-button {text-align: center;}
    .about-me {margin: 50px 25px;}
    .about-me-section {padding: 30px 20px}
    .description {text-align: center;}
    .contact-title {margin-top: 50px;}
    .contact-section {margin: 15px}
}

@media (max-width: 1000px) {
    .about-me-section {margin-bottom: 15px;}
}