:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Playfair Display', serif;
    --primary-color: #c9fdd7;
    --secondary-color: #6892d5;
}

.hero {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    padding: 150px;
    text-align: center;
}

.greeting {
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 600;
}

.name {
    font-family: var(--secondary-font);
    font-size: 70px;
    font-weight: 800;
}

.role {
    font-family: var(--primary-font);
    font-size: 18px;
    margin: 10px 0;
    opacity: 0.8;
}

.contact-button {
    margin-top: 35px;
}
.hero a {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    color: white;
    font-family: var(--primary-font);
    font-size: 13px;
    padding: 15px 20px;
    text-decoration: none;
}